@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon"; //bourbon
@import "libs/bootstrap"; //plugins scss files
@import "vendors/variables";
@import "plugins/swiper";
@import "animations/scrollDown";
.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    .swiper-container {
        height: 100vh;
    }
    .swiper-slide {
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
    .scrillDown {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 50%;
        margin: 0 0 0 -20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        bottom: 50px;
        z-index: 10;
        @include transform(rotate(45deg));
        animation: shake 3s infinite;
        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            bottom: 10px;
            left: 28px;
            margin: 0 0 0 -20px;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 90px;
        height: 90px;
        background: transparent;
        text-align: center;
        border-radius: 5px;
        @include transition(all .5s);
        &:hover {
            background: rgba(0, 0, 0, .5);
        }
    }
}

#navigation {
    background: transparent;
    @media screen and (max-width: 768px) {
        background: rgba(0, 0, 0, .5);
    }
}

.navbar {
    &.fixed {
        @include transition(all .1s);
        top: 0;
        background: $Pink;
        .icon-bar {
            background-color: #fff;
        }
        .navbar-toggle:hover {
            background: $Green;
        }
        #navigation {
            background: transparent;
        }
    }
    &.navbar-blog {
        top: 0;
        background: $Pink;
    }
    @include transition(all 0.2s);
    top: 20px;
    background: transparent;
    font: {
        family: $Montserrat;
    }
    border: none;
    text-transform: uppercase;
    .navbar-nav {
        li {
            .nav-links {
                font-size: 14px;
                padding: 15px 0;
                color: #fff;
                margin: 0 29px;
                border-bottom: 3px solid transparent;
                @include transition(all .2s);
                outline: none;
            }
            &:last-child a {
                padding: 15px 0 15px 0;
            }
            &.active a,
            &:hover a {
                background: transparent;
                color: $Yellow;
                border-bottom: 3px solid $Yellow;
                padding: 15px 0;
                margin: 0 29px;
                &:hover {
                    background: transparent;
                    color: $Yellow;
                    border-bottom: 3px solid $Yellow;
                }
            }
        }
    }
    .navbar-brand {
        font: {
            size: 18px;
            family: $Kaushan;
        }
        color: #fff;
    }
    .nav-header {
        display: block;
        @include clearfix;
    }
}

.blog-list {
    color: $DarkGrey;
    margin: 50px 0 0 0;
    .blog-container {
        margin: 0 0 25px 0;
    }
    .blogs-title {
        font: {
            size: 38px;
            family: $Montserrat;
            weight: 700;
        }
        text-transform: uppercase;
        margin: 50px 0;
    }
    .blog-image {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 50%;
        margin: 0 0 40px 0;
    }
    .blog-heading {
        font: {
            size: 27px;
            family: $Montserrat;
            weight: 400;
        }
        margin: 0;
    }
    .blog-info {
        margin: 10px 0;
        div {
            display: inline-block;
            margin: 0 10px 0 0;
            text-transform: capitalize;
            font: {
                size: 12px;
                family: $Roboto;
            }
        }
    }
    p {
        font: {
            size: 14px;
            family: $Roboto;
        }
    }
    .btn {
        border: 2px solid $Pink;
        background: transparent;
        color: $DarkGrey;
        font: {
            size: 14px;
            family: $Montserrat;
            weight: 400;
        }
        text-transform: uppercase;
        border-radius: 20px;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .texts {
        color: #fff;
        text-align: center;
        h3 {
            text-transform: capitalize;
            margin: 0 0 43px 0;
            font: {
                family: $Kaushan;
                size: 72px;
                weight: 400;
            }
        }
        p {
            font: {
                family: $Montserrat;
                size: 150px;
                weight: bold;
            }
            text-transform: uppercase;
            line-height: 140px;
        }
        .line {
            display: block;
            width: 60px;
            height: 3px;
            background: #fff;
            margin: 73px auto 50px;
        }
        .btn-primary {
            width: 160px;
            height: 40px;
            background: transparent;
            border: 3px solid #fff;
            border-radius: 0;
            font: {
                family: $Montserrat;
                size: 14px;
            }
            text-transform: uppercase;
            @include transition(all .2s);
            &:hover {
                background: #fff;
                color: $DarkGrey;
                border-color: $Pink;
            }
        }
        @media screen and (max-width: 1024px) {
            h3 {
                font-size: 42px;
            }
            p {
                font-size: 100px;
                line-height: 100px;
            }
        }
        @media screen and (max-width: 768px) {
            h3 {
                font-size: 42px;
            }
            p {
                font-size: 70px;
                line-height: 100px;
            }
        }
        @media screen and (max-width: 425px) {
            h3 {
                font-size: 32px;
            }
            p {
                font-size: 50px;
                line-height: 50px;
            }
        }
    }
}

.section-title {
    text-align: center;
    padding: 100px 0 0 0;
    color: $DarkGrey;
    h3 {
        font: {
            family: $Kaushan;
            size: 24px;
            weight: 400;
        }
        margin: 0;
    }
    .large {
        margin: 22px 0 42px 0;
        font: {
            family: $Montserrat;
            size: 30px;
            weight: 700;
        }
        text-transform: uppercase;
    }
    .line {
        width: 60px;
        height: 3px;
        background: $Pink;
        display: block;
        margin: auto;
    }
    .description {
        font: {
            family: $Roboto;
            size: 15px;
            weight: 400;
        }
        color:$LightGrey;
        margin: 47px 0 95px;
    }
}

.image-hover {
    margin: 0 0 110px 0;
    color: #fff;
    text-align: center;
    font: {
        family: $Montserrat;
        size: 18px;
        weight: 700;
    }
    text-transform: uppercase;
    .vertical-center {
        position: relative;
        min-height: 100%;
        flex-wrap: wrap;
        z-index: 2;
        @include transition(all 0.2s);
        opacity: 0;
    }
    .image-container {
        position: relative;
        width: 100%;
        height: 250px;
        margin: 0 0 15px;
    }
    .fa {
        font-size: 33px;
        height: 42px;
    }
    .fa,
    span {
        display: block;
        width: 100%;
    }
    .image {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: 1;
        @include transition(all 0.2s);
        &::before {
            position: absolute;
            @include transition(all 0.2s);
            content: '';
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $Pink;
            background: -moz-linear-gradient(top, $Pink 0%, $Yellow 100%);
            background: -webkit-linear-gradient(top, $Pink 0%, $Yellow 100%);
            background: linear-gradient(to bottom, $Pink 0%, $Yellow 100%);
        }
        &:hover {
            @include transition(all 0.2s);
            transform: translate( -10px, -10px);
            &::before {
                position: absolute;
                @include transition(all 0.2s);
                content: '';
                opacity: .9;
            }
            .vertical-center {
                @include transition(all 0.2s);
                opacity: 1;
            }
        }
    }
    .bg {
        position: absolute;
        width: 100%;
        height: 250px;
        left: 0;
        top: 0;
        background: $Green;
        z-index: 0;
    }
}

.counters {
    background: $Green;
    padding: 90px 0;
    text-align: center;
    color: #fff;
    font: {
        weight: 700;
        family: $Montserrat;
    }
    text-transform: uppercase;
    .col-md-25 {
        width: 20%;
        float: left;
        border-left: 1px solid $Green;
        &:last-child {
            border-right: 1px solid $Green;
        }
        @media screen and (max-width: 425px) {
            width: 100%;
        }
    }
    .value {
        font-size: 72px;
    }
    .description {
        font-size: 14px;
    }
}

#section-4 {
    padding: 0 0 122px 0;
}

.services {
    h5 {
        margin: 0;
        font: {
            family: $Montserrat;
            size: 14px;
            weight: 700;
        }
        text-transform: uppercase;
        margin: 0 0 20px 0;
        color: $DarkGrey;
    }
    p {
        font: {
            family: $Roboto;
            size: 15px;
            weight: 400;
        }
        color: $LightGrey;
        margin: 0;
    }
    .icon {
        text-align: center;
        color: $Green;
        margin: 0 0 20px 0;
    }
    .fa {
        font-size: 32px;
    }
    .line {
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        margin: 50px 0;
        display: block;
    }
    @media screen and (max-width: 768px) {
        text-align: center;
        p {
            margin: 0 0 20px 0;
        }
    }
}

#section-5 {
    position: relative;
    min-height: 850px;
    background: url('../../img/5.jpg') no-repeat 50% 50%;
    background-size: cover;
    @media screen and (max-width: 768px) {
        min-height: auto;
    }
}

.devices {
    text-align: center;
    .tablet-image {
        width: auto;
        @media screen and (max-width: 768px) {
            width: 80%;
        }
    }
    .image {
        position: relative;
        .phone-image {
            position: absolute;
            bottom: -110px;
            left: 60%;
            @media screen and (max-width: 768px) {
                width: 20%;
                bottom: -10%;
            }
        }
    }
}

.service {
    padding: 0 0 120px;
    img {
        width: 100%;
        margin: 0 0 15px;
    }
    .panel {
        border-radius: 0;
        border-color: #e5e5e5;
    }
    .panel-heading {
        cursor: pointer;
        height: 60px;
        border-color: #e5e5e5;
        font: {
            size: 14px;
            weight: 700;
            family: $Montserrat;
        }
        text-transform: uppercase;
        a {
            text-decoration: none;
        }
        .accordion-icon {
            position: relative;
            top: 5px;
            font-size: 30px;
            width: 40px;
            margin: 0 10px 0 0;
            color: $Green;
        }
        span {
            position: relative;
            top: 3px;
        }
        .fa-sort {
            float: right;
            color: #cccccc;
            font-size: 14px;
            margin: 15px 10px 0;
        }
    }
    .panel-body {
        height: 180px;
        margin: 0 0 10px 0;
        font: {
            size: 15px;
            weight: 400;
            family: $Roboto;
            style: italic;
        }
        color: $LightGrey;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

#section-7 {
    background: #e6fffa;
    padding: 90px 0;
}

.testimonials {
    .swiper-slide {
        padding: 0 85px;
        @media screen and (max-width: 768px) {
            padding: 0 45px;
        }
    }
    .icon {
        width: 150px;
        height: 150px;
        border: 3px solid $Green;
        text-align: center;
        font-size: 64px;
        color: $Green;
        padding: 30px 0 0;
        @media screen and (max-width: 768px) {
            width: 100px;
            height: 100px;
            font-size: 30px;
            border: 2px solid;
            margin: 0 auto 30px;
        }
    }
    p {
        font: {
            family: $Roboto;
            size: 24px;
            style: italic;
        }
        color: $LightGrey;
        @media screen and (max-width: 768px) {
            font-size: 16px;
            text-align: center;
        }
    }
    .subscription {
        font: {
            size: 24px;
            family: $Kaushan;
        }
        text-transform: capitalize;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
    .line {
        position: relative;
        top: -8px;
        display: inline-block;
        width: 60px;
        height: 3px;
        background: $Pink;
        margin: 0 10px 0 0;
        @media screen and (max-width: 768px) {
            display: block;
            margin: 23px auto 0;
        }
    }
    .fa-arrow-circle-left,
    .fa-arrow-circle-right {
        position: relative;
        color: $Pink;
        font-size: 38px;
        top: -30px;
    }
    &:hover {
        .fa-arrow-circle-left,
        .fa-arrow-circle-right {
            opacity: 1;
        }
    }
    .fa-arrow-circle-left,
    .fa-arrow-circle-right {
        opacity: 0;
        @include transition(all .2s);
    }
}

.team {
    .social {
        @include clearfix;
        display: block;
        margin: auto;
    }
    a {
        float: left;
        padding: 16px 0 0;
        border-left: 1px solid $Pink;
        width: 56px;
        height: 56px;
        background: $Yellow;
        color: $Pink;
        text-decoration: none;
        @include transition (all .2s);
        &:first-child {
            border-left: none;
        }
        &:hover {
            background: $Pink;
            color: #fff;
        }
        .fa {
            font-size: 26px;
        }
    }
    .image-hover {
        .image-container,
        .bg,
        .image {
            height: 470px;
        }
    }
    .team-images {
        margin: 0 0 110px;
        font-size: 18px;
    }
    .our-names {
        margin: 31px 0;
    }
    .name {
        font: {
            family: $Montserrat;
            weight: 400;
            size: 14px;
        }
        color: $DarkGrey;
        margin: 0;
    }
    .proffesion {
        margin: 16px 0 0;
        font: {
            family: $Roboto;
            weight: 400;
            size: 15px;
            style: italic;
        }
        color: $LightGrey;
        text-transform: capitalize;
    }
}

.partners {
    padding: 62px 0;
    background: #f8f8f8;
    text-align: center;
    @include transition(all .2s);
    &:hover {
        .fa {
            opacity: 1;
        }
    }
    .fa {
        opacity: 0;
        position: relative;
        color: $DarkGrey;
        font-size: 28px;
        top: -34px;
        @include transition(all .2s);
    }
}

.works {
    text-align: center;
    color: #fff;
    h4 {
        font: {
            family: $Montserrat;
            size: 14px;
            weight: 400;
        }
        margin: 20px;
        text-transform: uppercase;
    }
    span {
        font: {
            family: $Roboto;
            size: 15px;
            style: italic;
        }
        text-transform: capitalize;
        display: block;
    }
    img {
        position: relative;
        width: 100%;
    }
    .vertical-center {
        min-height: 100%;
    }
    .fa {
        font-size: 33px;
        height: 42px;
        display: block;
    }
    .bg {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $Pink;
        background: -moz-linear-gradient(top, $Pink 0, $Yellow 100%);
        background: -webkit-linear-gradient(top, $Pink 0, $Yellow 100%);
        background: linear-gradient(to bottom, $Pink 0, $Yellow 100%);
        @include transition(all .2s);
        &:hover {
            opacity: .9;
        }
    }
    .works-testimonials {
        padding: 100px 0;
        color: $DarkGrey;
        img {
            width: 210px;
            height: 210px;
            border-radius: 100%;
        }
        .text {
            height: 210px;
            font: {
                size: 24px;
                family: $Roboto;
                style: italic;
            }
            color: $LightGrey;
        }
        .subscription {
            flex-wrap: wrap;
            font: {
                size: 24px;
                family: $Kaushan;
            }
            text-transform: capitalize;
            color: $DarkGrey;
        }
        .vertical-center {
            flex-wrap: wrap;
        }
        p {
            flex-wrap: wrap;
        }
        .line {
            position: relative;
            top: -8px;
            flex-wrap: wrap;
            display: inline-block;
            width: 60px;
            height: 3px;
            background: $Pink;
            margin: 0 10px 0 0;
        }
    }
}

.happy-clients {
    background: url('../../img/25.jpg') no-repeat 50% 50%;
    background-size: cover;
    .image {
        text-align: center;
        margin: 0 0 25px 0;
    }
    @media screen and (max-width: 768px) {
        text-align: center;
        img {
            max-width: 150px;
        }
    }
    img {
        width: 100%;
        border-radius: 100%;
    }
    .name {
        font: {
            family: $Montserrat;
            size: 14px;
            weight: 400;
        }
        text-transform: uppercase;
    }
    .proffesion {
        display: block;
        font: {
            family: $Roboto;
            size: 15px;
            weight: 400;
            style: italic;
        }
        text-transform: capitalize;
        color: $DarkGrey;
    }
    .text {
        .line {
            width: 60px;
            height: 3px;
            background: $Pink;
            display: inline-block;
            text-align: left;
            margin: 18px auto 25px;
        }
    }
    .description {
        font: {
            family: $Roboto;
            size: 15px;
            weight: 400;
            style: normal;
        }
        color: $LightGrey;
        margin: 0 0 70px;
    }
}

.blog {
    padding: 0 0 115px;
    a {
        text-decoration: none;
    }
    .blog-image {
        position: relative;
        &:hover {
            .time-badge {
                background: $Pink;
            }
        }
    }
    img {
        width: 100%;
    }
    .time-badge {
        text-align: center;
        padding: 8px 0 0;
        position: absolute;
        width: 60px;
        height: 70px;
        background: $Green;
        left: -8px;
        bottom: 10px;
        @include transition(all .2s);
        .number {
            display: block;
            color: #fff;
            font: {
                family: $Montserrat;
                size: 30px;
                weight: 700;
            }
            text-transform: uppercase;
            height: 35px;
        }
        .month {
            color: #fff;
            display: block;
            font: {
                family: $Roboto;
                size: 15px;
                weight: 400;
                style: italic;
            }
            text-transform: capitalize;
        }
    }
    .blog-text {
        h4 {
            font: {
                family: $Montserrat;
                size: 14px;
                weight: 700;
            }
            text-transform: uppercase;
            color: $DarkGrey;
            margin: 20px 0;
        }
        p {
            margin: 0 0 20px;
            font: {
                family: $Roboto;
                size: 15px;
                weight: 400;
            }
            text-transform: capitalize;
            color: $LightGrey;
            border-bottom: 1px solid #e5e5e5;
            padding: 0 0 23px;
        }
    }
    .info {
        div {
            display: inline-block;
            margin: 0 10px 0 0;
            font: {
                family: $Roboto;
                size: 15px;
                weight: 400;
                style: italic;
            }
            color: $LightGrey;
        }
        .fa {
            color: $Green;
        }
        @media screen and (max-width: 768px) {
            margin: 0 0 20px 0;
        }
    }
}

.map {
    position: relative;
    height: 200px;
    background: url('../../img/33.jpg') no-repeat 50% 50%;
    background-size: cover;
    color: $Pink;
    overflow: hidden;
    .vertical-center {
        min-height: 100%;
        flex-direction: column;
    }
    .map-overally {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .fa {
        font-size: 26px;
        display: block;
    }
    h4 {
        font: {
            family: $Montserrat;
            size: 24px;
            weight: 700;
        }
        text-transform: uppercase;
        margin: 18px auto 22px;
    }
    .line {
        width: 60px;
        height: 3px;
        background: $Pink;
        display: block;
    }
}

.footer {
    background: #f8f8f8;
    padding: 75px 0 0;
    .container {
        padding: 0 0 70px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    .social-area {
        p {
            margin: 42px 0 50px 0;
            font: {
                family: $Roboto;
                size: 15px;
                weight: 400;
            }
            color: $LightGrey;
        }
        h4 {
            padding: 0 0 20px 0;
            margin: 0 0 20px 0;
            border-bottom: 1px solid #e5e5e5;
            font: {
                family: $Montserrat;
                size: 18px;
                weight: 700;
            }
            color: $DarkGrey;
            span {
                font: {
                    size: 14px;
                    weight: 400;
                }
            }
        }
        .social-icons {
            font: {
                family: $Roboto;
                size: 15px;
                weight: 400;
            }
            color: $LightGrey;
            .fa {
                font-size: 16px;
                color: $Green;
                @include transition(all .2s);
                &:hover {
                    color: $Pink;
                }
            }
            a {
                display: inline-block;
                margin: 0 7px;
                cursor: pointer;
            }
            .follow {
                display: inline-block;
                margin: 0 25px 0 0;
            }
        }
        .form-group {
            @include clearfix;
            margin: 35px 0 0;
        }
        .form-control {
            border-color: #e7e7e7;
            border-radius: 0;
            box-shadow: none;
            height: 40px;
        }
        .btn {
            height: 40px;
            border-radius: 0;
            border-right: none;
            font: {
                family: $Montserrat;
                size: 14px;
                weight: 700;
            }
            text-transform: uppercase;
            background: $Green;
            border-color: $Green;
            @include transition(all .2s);
            &:hover {
                background: $Pink;
                border-color: $Pink;
            }
        }
        @media screen and (max-width: 768px) {
            margin: 0 0 20px;
        }
    }
    .copyright {
        padding: 25px 0;
        text-align: center
    }
    h3 {
        font: {
            family: $Montserrat;
            size: 14px;
            weight: 400;
        }
        text-transform: uppercase;
        margin: 0;
    }
    .blog {
        padding: 0;
        a {
            @include clearfix;
            color: $DarkGrey;
            display: block;
        }
        h3 {
            margin: 0 0 40px;
        }
        h6 {
            margin: 12px 0 0;
            font-size: 12px;
            max-height: 26px;
            overflow: hidden;
            font: {
                family: $Montserrat;
                size: 12px;
                weight: 400;
            }
            text-transform: uppercase;
        }
        span {
            display: block;
            text-align: left;
            font: {
                family: $Roboto;
                size: 12px;
                weight: 400;
                style: italic;
            }
            color: $LightGrey;
            margin: 12px 0 0;
        }
        img {
            width: 100%;
        }
        .blog-row {
            margin: 0 0 30px;
        }
        .vertical-center {
            min-height: 100%;
            flex-direction: column;
            text-align: left;
        }
        @media screen and (max-width: 768px) {
            margin: 0 0 20px;
        }
    }
    .image-container {
        img {
            margin: 0 0 4px;
            width: 30%;
        }
        a {
            display: block;
            margin: 10px 0 0;
            font: {
                family: $Roboto;
                size: 12px;
                weight: 400;
                style: italic;
            }
            color: $LightGrey;
        }
        @media screen and (max-width: 768px) {
            margin: 0 0 20px;
        }
    }
}